.page-nav{
    background-color: white;
    border: 1px solid black; 
    position: relative;
}

.page-nav h1{
    margin: 20px;
}


.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}

