@media (min-width: 720px){
    header{ 
    position: sticky; 
    width: 100%;
    }
    

header .container{
    flex-direction: row;
    justify-content: space-between;
    

}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}
}